<h1><%= @data[:data][:attributes][:name] %></h1>

<h2>Contact Info</h2>

<p>Contact Name: <%= @data[:data][:attributes][:contact_name] %></p>
<p>Contact Phone: <%= @data[:data][:attributes][:contact_phone] %></p>
<p>Credit Accepted: <%= @data[:data][:attributes][:credit_accepted] %></p>
<p>Description: <%= @data[:data][:attributes][:description] %></p>