<h1><%= @data[:data][:attributes][:name] %></h1>
<%= @data[:data][:attributes][:street] %><br>
<%= @data[:data][:attributes][:city] %>,
<%= @data[:data][:attributes][:state] %>
<%= @data[:data][:attributes][:zip] %>

<h3>Vendors at our Market</h3>
  
<% @vendor_data[:data].each do |vendor| %>
  <%= link_to vendor[:attributes][:name], "/vendors/#{vendor[:id]}", method: :get %>
<% end %>