<h1><%= @data[:data][:attributes][:name] %></h1>
<%= @data[:data][:attributes][:street] %><br>
<%= @data[:data][:attributes][:city] %>,
<%= @data[:data][:attributes][:state] %>
<%= @data[:data][:attributes][:zip] %>

<h3>Vendors at our Market</h3>
  